article {
  padding:10px 40px 40px 40px;
  width: 70%;
  margin: auto;
  background-color: white;
}

body{
  background-color:#d4f5fc;
  font-family: 'Gudea', sans-serif;
}

h1{
  text-align: center;
}

img{
  max-width: 100%;
  height:auto;
}
