body{
  /* background-color: #95BDC1; */
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding:0;
  overflow: hidden;
}

.name, .lastname, .name-shadow, .lastname-shadow{
  display: none;
}

a{
  color:#333;
  text-decoration: none;
}

a:visited{
  color:grey;
}

/* background color for the middle */
.outer{
  margin: auto;
  position: relative;
  background-color: #95bdc1;
  box-shadow: 0px 0px 50px darkgray;
  /* border: solid 2px blue; */
}

#self{
  position: absolute;
  /*distance between words and self portrait*/
  left: 65%;
  max-height:100%;
  display: block;
  bottom: 0;
}

.nameanimation{
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* border: solid 2px black; */
}

#inner-container{
  width: 80%;
  justify-content: center;
  margin: auto;
  display: flex;
  flex-direction: row;
}

#inner-container > section{
  width: 300px;
  margin-top:20px;
  margin-left: 20px;
  margin-right: 20px;    height: 100vh;

}

h2{
  font-size:25px;
}

ul{
  padding:0;
  margin: 0;
}

li{
  line-height:  27px;
  font-size: 17px;
  list-style-type: none;
}

footer{
  box-shadow: 0px 0px 25px darkgray;
  /* position: fixed; */
  position: absolute;
  bottom:0;
  background-color: #282b2d;
  width: 100%;
  text-align: center;
  font-size: 15px;
  color:white;
  padding: 20px;
}

footer p{
  line-height: 12px;
}

footer a{
  color:white;
}

@media (max-width: 600px){
  body{
    overflow-y: scroll;
  }

  svg{
    display: none;
  }

  .name, .name-shadow{
    position: absolute;
    font-family: arial;
    margin-left:-50px;
    margin-top:0px;
    display: block;
    text-align: left;
    color: #333;
    -webkit-text-stroke-width: 1px;
  }

  .name-shadow{
    margin-top:-3px;
    margin-left:-45px;
    color:white;
    -webkit-text-stroke-color: white;
  }

  .lastname, .lastname-shadow{
    position: absolute;
    font-family: arial;
    margin-left:-50px;
    display: block;
    text-align: left;
    color: black;
    margin-top:35px;
  }

  .lastname-shadow{
    margin-left:-45px;
    color:white;
    -webkit-text-stroke-color: white;
  }

  .outer{
    margin: auto;
    position: relative;
  }

  .nameanimation{
    padding-top: 20px;
    height:100px;
  }

  h2{
    font-size: 16px;
  }

  li{
    line-height: 20px;
    font-size: 12px;
  }

  footer{
    position: fixed;
    padding: 5px;
  }

  footer p{
    line-height: 7px;
    font-size: 12px;
  }
}
