
.postContainer{
  /* height:100vh; */
	display: flex;
  flex-wrap: wrap;
	justify-content: center;
	padding-top:75px;
	padding-bottom:75px;

}

.post{
	position: relative;
	/* border:2px solid black; */
	box-shadow: -4px 18px 31px -4px rgba(0,0,0,1);
  width: 350px;
  padding:20px;
  margin:50px;
}

.post img{
  /* margin-left: -10px ; */
  width: 300px;
  display: block;
  /* width: 50%; */
  margin-left: auto;
  margin-right: auto;
  height: auto;
  /* border:solid 2px black; */
}

.post h2{
  /* color:#e2c044; */
  margin-bottom:10px;
}

.post .time{
	font-size: 15px;

	/* font-weight:700; */
}

.post a{
  font-family: 'Roboto', sans-serif;
}

#index-footer {
	background-color: #282b2d;
	text-align: center;
	/* height: 50px; */
	color: white;
	width: 100%;
	padding: 20px;
}


/*

.float-left {
  width: 50%;
	float: left;
}

.float-right {
  width: 50%;
	float: right;
} */

/* .post img{
  width: 400px;
}


/*

#cls-1{
  z-index:1000;
  position: absolute;
  background-color: #23b5d3;

}

#cls-2{
  border:solid 4px black;
  z-index:13;
  position: absolute;
  background-color: white;

  top:30%;
  left: 20%;
}


#cls-1{
  z-index:4;
  position: absolute;
  background-color: #e2c044;

  top:50%;
  left: 10%;
} */

/***Articles***/

/* section article{
  position: relative;
  height: 400px;
  width: 300px;
  padding:20px;
  border:2px solid black;
} */

/* .blogPosts{
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .rows{
  width:100%;
} */


/***** SHAPES ****/
/* .content{
  position: absolute;
  height: 100%;
  top:100%;
} */

/* .top {
  width: 100%;
  height: 10%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

.bottom {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;
} */
