/*Unofficial navbar */
  #sticky{
    z-index: 1;
    position: fixed;
    background-color: #282b2d;
    color: white;
    /* background-color: white; */
    /* color: #282b2d; */
    height: 50px;
    width: 100%;
    /* padding-bottom: 10px; */
  }

  #sticky #logo{
    /* margin-left: -35px; */
    font-weight: 900;
    padding:8px;
    margin-top: 0;
    text-decoration: none;
  }

  #sticky #logo a{
    color:white;
    text-decoration: none;
  }

  #sticky #logo a:visited{
    text-decoration: none;
  }

  /*Navbar*/
  nav{
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 15px;
    position: relative;
    background-color:white;
    margin-top:75px;
    z-index: 0;
  }
  nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav > ul {
    display: flex;
    justify-content: center;
  }

  nav > ul > li {
    flex: 1;
  }

  nav ul li {
    display:block;
    height:36px;
    line-height:36px;
    padding:0 10px;
    text-align:center;
    text-decoration:none;
  }

  nav a{
    color:black;
    text-decoration: none;
  }

  nav a:visited{
    text-decoration: none;
  }

  nav ul li a:hover {
    color: #808080;
  }


  html, body{
    margin: 0;
    padding: 0;
    overflow-y: scroll;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  .left-outline{
    min-height:100%;
  }

  #latest-posts{
    margin-top:50px;
    text-align: center;
  }

  #container{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width:100%;
    height: 90vh;
    min-height:100%;
    background-color: #F6F6F6;
    /* border:solid 2px black; */
  }

  #right-outline{
    margin-top: 0;
    height: 100%;
    overflow-y: hidden;
  }
  .left-outline img{
    max-width: 100%;
  }

  .intro{
    /* position: absolute; */
    height: 100vh;
  }

  .postContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding-top:75px; */
  }

  .post{
    position: relative;
    width: 325px;
    padding:20px;
    margin:50px;
    transition: transform .2s;
  }

  /*On big screens make the posts longer*/
  @media screen and (min-width: 1600px){
    .post{
      width: 400px;
    }
  }

  @media screen and (max-width: 800px){
    nav{
      font-size: 14px;
      width: 95%;
      margin-bottom:-20px;
    }

    #logo{
      left:0;
    }

    #container{
      width:100% !important;
      /*The grey */
      height: 150vh;
      /*Space bewtween the nav bar and container*/
      top:10px;
    }

    .left-outline{
      margin-top:50vh;
      width:100%;
      height:500px;
      padding: 0 !important;
    }

    .left-outline h1{
      /*space between the top of the designed & developed and the H1 BLOG*/
      margin-top: 30% !important;
      text-align: center !important;
      font-size: 40px !important;
    }

    .left-outline p{
      margin-top:-5% !important;
      font-size: 20px !important;
      padding:40px;
    }

    .left-outline p:last-of-type{
      margin-top: -60px !important;
    }

    #right-outline{
      height:55vh;
      top:0;
      /* background-color: red !important; */
      width:100%;
    }
    #right-outline p{
      font-size: 20px;
    }
  }

  .post img{
    width: 300px;
    display: block;
    /* width: 50%; */
    margin-left: auto;
    margin-right: auto;
    height: auto;
    /* border:solid 2px black; */
  }

  .post h2{
    margin-bottom:10px;
  }

  .post .time{
    font-size: 15px;
    /* font-weight:700; */
  }

  .post a{
    font-family: 'Roboto', sans-serif;
  }

  .post:hover {
    box-shadow: -4px 20px 25px -4px rgba(0,0,0,1);
    transform: scale(1.04); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  #index-footer {
    background-color: #282b2d;
    text-align: center;
    padding: 20px;
    color: white;
    width: 100%;
  }

  #index-footer p{
    font-size: 16px;
    line-height: 12px;
    /* padding-top: 12px; */
  }

  #section{
    width:100%;
  }

  #self{
    border: solid 10px #282b2d;
    border-radius: 50%;
  }

  .left-outline{
    display: inline-block;
    padding-left:80px;
  }

  .left-outline h1{
    margin-top: 20%;
    text-align: left;
    font-size: 90px;
    font-weight: 900;
  }

  .left-outline p{
    color:#333;
    line-height: 40px;
    padding:  0px 40px 0px 0px ;
    font-size: 1.3em;
  }

  .left-outline p:last-of-type{
    padding-top:  40px;
  }

  .left-outline a{
    color:#888;
  }

  .left-outline a:hover{
    color: #585858;
  }

  #right-outline{
    margin-top: 0;
  }

  #right-outline img{
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
    width:60%;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #right-contents p{
    margin-top:30px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }
  #right-contents span{
    font-weight: 500;
    color:#666;
  }
