body{
  background-color:white;
  overflow-y: hidden;
}

#logo{
  position: fixed;
  left: -30px;
  right: 0;
  /* border: solid 2px white; */
  text-align: center;
  padding:4px;
  margin-top: -10px;
  color:white;
}

h1 a{
  text-decoration: none;
}

h1 a:visited{
  text-decoration: none;
  color:white;
}

#blue{
  color: #23b5d3;
}

#yellow{
  color: #e2c044;
}

#green{
  color: #3f696d;
}

nav{
  background-color: #282b2d;
  height: 50px;
  border:solid 2px black;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  /* color:#23b5d3; */
}

h2{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.blue-contents h2{
  color:#23b5d3;
}

.yellow-contents h2{
  color:#e2c044;
}

.green-contents h2{
  color:#3f696d;
}

p{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 30px;
}

time{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  position: absolute;
  font-size: 15px;
  right: 60px;
  top:95px;
}

.left-outline{
  /* background-color: #23b5d3; */
  height: 100%;
  position: absolute;
  left: 0px;
  width:50%;
  float: left;
  /* border: solid 2px orange; */
  display: block;
}

.left-blue{
  background-color: #23b5d3;
}

.left-yellow{
  background-color: #e2c044;
}

.left-green{
  color:#3f696d;
}

#futureTech{
  display: block;
  margin: 0 auto;
  margin-top:15%;
  border: 10px solid #282b2d;
}

#unitrans{
  display: block;
  margin: 0 auto;
  margin-top:20%;
  border: 10px solid #282b2d;
}

#right-outline{
  position: absolute;
  margin-top: 5%;
  right:0px;
  width: 50%;
  height: 65%;
  float: right;
  overflow: scroll;
  /* border: solid 2px red; */
  display: block;
}

#right-outline::-webkit-scrollbar {
    display: none;
}

#right-contents{
  padding:60px;
}

footer{
  /* border: solid 2px blue; */
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #DCDCDC;
  color:black;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
}

li{
  list-style-type: none;
}
footer a{
  color:black;
  text-decoration: none;
}

footer a:hover{
  color:#606060;
  text-decoration: none;
}

#side-buttons #previous{
  position: absolute;
  left: 30px;
  float: right;
}

#side-buttons #next{
  position: absolute;
  right: 30px;
  float: right;
}

#validator{
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  width:100%;
  /* border: solid 2px black; */
}
