body{
  background-color:white;
  overflow-y: hidden;
}

#logo{
  position: fixed;
  left: -30px;
  right: 0;
  /* border: solid 2px white; */
  text-align: center;
  padding:4px;
  margin-top: -10px;
  color:white;
}

h1 a{
  font-family: Arial Black;
  color:white;
  text-decoration: none;
}

h1 a:visited{
  text-decoration: none;
  color:white;
}

#blue{
  color: #23b5d3;
}

#yellow{
  color: #e2c044;
}

#green{
  color: #3f696d;
}

nav{
  position: fixed;
  margin: auto 0;
  top:0;
  background-color: #282b2d;
  height: 50px;
  width: 100%;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  /* color:#23b5d3; */
}

h2{
  font-family: 'Lato', sans-serif;
  font-weight: 500;
}

.blue-contents h2{
  color:#23b5d3;
}

.yellow-contents h2{
  color:#e2c044;
}

.green-contents h2{
  color:#3f696d;
}

p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

time{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  position: absolute;
  font-size: 15px;
  right: 60px;
  top:95px;
}

#container{
  display: flex;
}

section{
  width: 50%;
}

.left-outline{
  background-color: #23b5d3;
  /* height: 100%; */
  /* position: absolute; */
  /* left: 0px; */
  /* width:50%; */
  /* float: left; */
  /* display: block; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: solid 2px orange; */
  min-height:100vh;
}

.left-outline img{
  /* margin-top: -10%; */
  max-width: 50%;
  height:auto;
  width:auto;
}

.left-blue{
  background-color: #23b5d3;
}

.left-yellow{
  background-color: #e2c044;
}

.left-green{
  background-color:#3f696d;
}

#futureTech{
  /* display: block;
  margin: 0 auto;
  margin-top:15%; */
  /* max-width: 100%; */
  /* max-height: 100%; */
  border: 10px solid #282b2d;
}


#unitrans{
  /* display: block;
  margin: 0 auto;
  margin-top:15%; */
  border: 10px solid #282b2d;
}

#roboto{
  border: 10px solid #282b2d;
}


#right-outline{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 10%;
  right:0px;
  /* width: 50%; */
  height: 65%;
  float: right;
  overflow: scroll;
  /* border: solid 2px red; */
  display: block;
}

img{
  width:75%;
  height:auto;
}

#right-outline::-webkit-scrollbar {
    display: none;
}

#right-contents{
  padding:60px;
}

footer{
  /* border: solid 2px blue; */
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #282b2d;
  color:white;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
}

li{
  list-style-type: none;
}


footer a{
  color:white;
  text-decoration: none;
}

footer a:visited{
  color:white;
  text-decoration: none;
}

#side-buttons #previous{
  clear:both;
  /* border: solid 2px red; */
  position: absolute;
  left: 30px;
  float: right;
  width : 100px;
  padding:20px;
  top:0;
  left:0;
}

#side-buttons #previous:hover{
  background-color:#606060;
    color:white;

}

#side-buttons #next:hover{
  background-color:#606060;
  color:white;
}


#side-buttons #next{
  position: absolute;
  float: left;
  width : 100px;
  padding:20px;
  top:0;
  right:-20px;
}

#validator{
  top: 20px;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  width:100%;
  /* border: solid 2px black; */
}
