body{
  overflow-x:hidden;
  margin: 0 auto;
  font-family: arial;
}

body::-webkit-scrollbar {
   display: none;
 }

h1{
  text-align: center;
}

.web-project{
  /* box-sizing: border-box;
  border: solid 2px blue; */
  display: flex;
  position: relative;
  height: 60vh;
  margin-left: 10%;
  margin-right: 10%;
}

.right{
  /* box-sizing: border-box;
  border: solid 2px orange; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right:0;
  height: 100%;
  width: 60%;
}

.right img{
  max-width: 90%;
  height:auto;
  width:auto;
  display: block;
}

.left{
  /* box-sizing: border-box;
  border: solid 2px red; */
  position: absolute;
  left:0;
  padding: 20px;
  height: 100%;
  width: 40%;
}


.left h2{
  margin-top:100px;
  font-size: 1.75em;
}
/*Height distance between the learn more box*/
.left p:last-of-type{
  padding-bottom:30px;
}

.left .button{
  border: solid 5px black;
  text-decoration: none;
  padding: 15px;
  font-size: 15px;
}

.button:hover{
  background-color:#e7e7e7;
  color:white;
}

.section-divider{
  width: 40%;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color:#addbe8;
}

.second-section-divider{
  width: 30%;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color:#addbe8;
}

.divider-flex
{
  margin-left: 10%;
  margin-right:10%;
  display: flex;
}

.divider-flex h1{
  padding-left: 20px;
  padding-right: 20px;
}

#gallery-container{
  width: 100%;
  height: auto;
  /* box-sizing: border-box;
  border:solid 10px black;
  background-color:red; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom:20px;
}


#gallery-container > .image{
  position: relative;
  max-height: 60vh;
  width: auto;
  margin: 10px;
  display: block;
}

.image{
  position: relative;
  /* max-height: 100vh; */
  height: auto;
  max-width: 42vh;
  margin: 15px;
  transition: transform .2s;
}

.image:hover {
  box-shadow: -4px 20px 25px -4px rgba(0,0,0,1);
  transform: scale(1.04); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/*Each Page*/

.left-outline img{
  transition: transform .2s;
}

.left-outline img:hover{
  box-shadow: -4px 20px 25px -4px rgba(0,0,0,1);
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}

.left-outline embed{
  height: 600px;
  width: 700px;
}

#processbook-image{
  display: none;
}

#side-buttons #next{
  width: 275px;
}

#side-buttons #previous{
  width: 275px;
}

.blue{
  color:#addbe8;
}

.left-blue{
  background-color:#addbe8;
}

#right-contents{
  padding: 10px 60px 60px 60px;
}

.blue-contents a, .blue-contents h2{
  color:#addbe8;
}

@media (max-width: 600px){
  #processbook-image{
    display: block;
  }
  .left-outline embed{
    display: none;
  }
}






footer {
  background-color: #282b2d;
  text-align: center;
  padding: 5px;
  color: white;
  width: 100%;
}

footer a{
  color:white;
}
