body{
  overflow-y: scroll;
  overflow-x:hidden;
  margin: 0 auto;
}

body::-webkit-scrollbar {
   display: none;
 }

/*EACH CASE PAGE*/
nav{
  position: fixed;
  top:0;
  background-color: #282b2d;
  height: 50px;
  width: 100%;
  z-index: 1;
}

#logo{
  z-index: 2;
  position: fixed;
  left: -35px;
  /* left:0; */
  right: 0;

  /* border: solid 2px white; */
  text-align: center;
  padding:4px;
  margin-top: 4px;
  /* color:black; */
  color:white;
}

.left-outline a{
  text-align: center;
}

h1 a{
  font-weight: 900;
  font-family: 'Arial Black' 'Arial Bold', Gadget, sans-serif;
  color:white;
  text-decoration: none;
}

h1 a:visited{
  text-decoration: none;
  color:white;
}


h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
}

h2, h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

/*Font Color*/
p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

#container{
  display: flex;
}

section{
  width: 50%;
}

.left-outline{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height:100vh;
}

.left-outline img{
  /* margin-top: -10%; */
  max-width: 50%;
  height:auto;
  width:auto;
  border: 10px solid #282b2d;
}


/*Had to use this to cheat way through of having the scroll types
switch whent he screen size was on mobile. On web I have it so the
right page content is scrollable, but the page itself is not.*/
@media (min-width: 700px) {
  body{
    overflow-y: hidden;
  }
  #right-outline{
    overflow-y: scroll;
  }
}

@media (max-width: 700px){
  #logo{
    left:0;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  p{
    font-size: 15px;
  }


  .left-outline{
    width:100%;
    height:auto;
    float:none;
  }

  #right-outline{
    position: absolute;
    top:100%;
    width:100%;
    float:none;
    /* overflow-y: hidden; */
  }

  #right-contents p img{
    display: none;
  }

  .left-outline img{
    /* margin-top: -10%; */
    max-width: 80%;
    height:auto;
    width:auto;
  }
}


#right-outline{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 10%;
  right:0px;
  height: 65%;
  display: block;
}

#right-contents{
  padding: 60px 60px 60px 60px;
}

#right-outline::-webkit-scrollbar {
    display: none;
}

#right-outline img{
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
  width:75%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

li{
  list-style-type: none;
}

.footer{
  padding: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #282b2d;
  color:white;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
}

footer a{
  color:white;
  text-decoration: none;
}

footer a:visited{
  color:white;
  text-decoration: none;
}

#side-buttons #previous{
  clear:both;
  /* border: solid 2px red; */
  position: absolute;
  float: left;
  width : 100px;
  padding:20px;
  top:0;
  left:0px;
  text-align: center;
}

#side-buttons #next{
  position: absolute;
  float: right;
  width : 100px;
  padding:20px;
  top:0;
  text-align: center;
  right:30px;
}

#validator{
  top: 20px;
  left: -20px;
  right: 0;
  position: absolute;
  text-align: center;
  width:100%;
  font-size:15px;
}


#side-buttons #previous:hover{
  background-color:#606060;
    color:white;
}

#side-buttons #next:hover{
  background-color:#606060;
  color:white;
}















/*Over writing on the blog css + index page*/

.web-project{
  /* box-sizing: border-box;
  border: solid 2px blue; */
  display: flex;
  position: relative;
  height: 60vh;
  margin-left: 10%;
  margin-right: 10%;
}

.right{
  /* box-sizing: border-box;
  border: solid 2px orange; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right:0;
  height: 100%;
  width: 60%;
}

.right img{
  max-width: 90%;
  height:auto;
  width:auto;
  display: block;
}

.left{
  position: absolute;
  left:0;
  padding: 20px;
  height: 100%;
  width: 40%;
}

.left h2{
  margin-top:100px;
  font-size: 1.75em;
  font-weight: 900;
}
/*Height distance between the learn more box*/
.left p:last-of-type{
  padding-bottom:30px;
}

.left .button{
  color: #addbe8;
  font-family: roboto;
  background-color: white;
  border: solid 5px #addbe8;
  border-radius: 10px;
  text-decoration: none;
  padding: 15px;
  font-size: 15px;
  transition: .2s;
}

.button a{
  text-decoration: none;
}

 a:visited{
  text-decoration: none;
  color: #addbe8
}

.button:hover{
  background-color:#addbe8;
  color:white;
}

/*Separates the web dev projects from each other */
.section-divider{
  width: 40%;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color:#addbe8;
}

/*2 Bars*/
.second-section-divider{
  width: 20%;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color:#addbe8;
}

#web-design-h1, #design-h1 {
  font-size: 50px;
  font-weight: 100;
  font-family: Monoton;
  text-align: center;
}

.divider-flex{
  width: 100%;
  padding-top: 20px;
  display: flex;
}

/*So the Web Design Divider doesnt have it */
.divider-flex:last-of-type{
  background-color: #F6F6F6;
}

.divider-flex h1{
  padding-left: 20px;
  padding-right: 20px;
}

#gallery-container{
  width: 100%;
  height: auto;
  background-color: #F6F6F6;
  /* box-sizing: border-box;
  border:solid 10px black;
  background-color:red; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


#gallery-container > .image{
  position: relative;
  max-height: 60vh;
  width: auto;
  margin: 10px;
  display: block;
}

.image{
  position: relative;
  box-sizing: border-box;
  border: 10px solid #282b2d;
  /* max-height: 100vh; */
  height: auto;
  max-width: 42vh;
  margin: 15px;
  transition: transform .2s;
}

.image:hover {
  box-shadow: -4px 20px 25px -4px rgba(0,0,0,1);
  transform: scale(1.04);
}

/*Each Page*/

.left-outline img{
  transition: transform .2s;
}

.left-outline img:hover{
  box-shadow: -4px 20px 25px -4px rgba(0,0,0,1);
  transform: scale(1.1);
}

.left-outline embed{
  height: 600px;
  width: 700px;
}

#processbook-image{
  display: none;
}

#side-buttons #next{
  width: 275px;
}

#side-buttons #previous{
  width: 275px;
}

.blue{
  color:#addbe8;
}

.left-blue{
  background-color:#addbe8;
}

#right-contents{
  padding: 10px 60px 60px 60px;
}

.blue-contents a, .blue-contents h2{
  color:#addbe8;
}

footer {
  background-color: #282b2d;
  text-align: center;
  /* padding: 5px; */
  color: white;
  width: 100%;
  position: absolute;
}

footer p{
  line-height: 10px;
}
footer a{
  color:white;
}

@media (max-width: 600px){
  #processbook-image{
    display: block;
  }
  .left-outline embed{
    display: none;
  }
}












/*Index Page*/
#intro-outline{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin:30px;
}

#intro{
  background-color: white;
  margin-top: 50px;
  height:70vh;
  width: 80%;
  padding: 30px;
}

#intro p{
  line-height: 30px;
  font-size: 14.5px;
}

#intro #me:hover{
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  transform: scale(1);
}

#name{
  color:#8bd1e1;
  text-align: left;
}

#intro h2{
  color:#97dff0;
}

#me{
  border: none;
  float: right;
  margin-top:0px;
  max-width: 50%;
  padding:10px;
}


/*Right portfolio */
#index-right-contents{
  padding: 0px;
}

#index-right-outline{
 display: flex;
 align-items: center;
 justify-content: center;
 position: absolute;
 /* margin-top: 10%; */
 right:0px;
 height: 65%;
 display: block;
 /* background-color: white; */
 /* margin-top:0px; */
 /* box-sizing: border-box;
 border: solid 2px black; */
 height:100vh;
 overflow-y: hidden;
}

#portfolio{
  margin-top:-30%;
  position: absolute;
  /* margin-top: 20px; */
  text-align: center;
  width: 100%;
  font-family: Monoton;
  font-weight: 100;
  font-size: 50px;
}

#c{
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}



.flex-container {
 /*Pushes the gallery down*/
  margin-top: 20%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.box {
  position: relative;
/*Big screens make it 200*/
/* width: 225px;
height:225px; */
  box-shadow: 0px 0px 20px darkgray;
  padding:5px;
  margin:10px;
  width:250px;
  height:250px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
  font-size: 30px;
}


#box1{
 /* background-color: white; */
 background-image:url("images/homies.jpg");
}

#box2{
 background-image:url("images/web-blog.jpg");
}

#box3{
 background-image:url("images/processbook.jpg");
}

#box4{
 background-image:url("images/toilet.jpg");

}

#box5{
 background-image:url("images/taxi-cab.jpg");

}

#box6{
 background-image:url("images/travel.jpg");
}


@media only screen and (max-width: 1500px) {

 .box {
   padding:5px;
   margin:10px;
   width:175px;
   height:175px;
 }
}

@media only screen and (max-width: 1400px) {
 .box {
   padding:5px;
   margin:10px;
   width:175px;
   height:175px;
 }

 #intro p{
   line-height: 20px;
   font-size: 14px;
 }
}

@media only screen and (max-width: 810px) {
 #index-right-outline{
   position: absolute;
   top:100%;
   width:100%;
   float:none;
   /* overflow-y: hidden; */
 }
  #intro{
    margin-top: 0px;
  }

 .box {
   padding:10px;
   margin:10px;
   width:130px;
   height:130px;
 }

 .flex-container{
   /* margin-top:20px; */
   margin-bottom: 20px;
 }

 #c{
   /* border:solid 2px red; */
   /* margin-top: 25px; */
 }

 #portfolio{
   margin-top:-275px;
 }

 #right-outline{
   margin-top:90px;
   height: 100vh;
 }

 .right img{
   display: none;
 }

 .left{
   width: 85%;
 }

 #intro p{
   line-height: 20px;
   font-size: 14px;
 }

 .section-divider, .second-section-divider{
   display: none;
 }
 /*WEB DESIGN and DESIGN headings*/
 #web-design-h1, #design-h1 {
   margin-left: auto;
   margin-right: auto;
 }

 #web-design-h1{
   margin-top:40px;
 }
}

@media only screen and (max-width: 600px) {
 #web-project-container{
   margin-top:-100px;
 }

 .divider-flex-first{
   /* position: absolute; */
   margin-top:100vh;
 }
 .second-section-divider{
   display: none;
 }
 #intro-outline{
   padding: 10px;
   margin:0px;
   margin-top:50px;
 }

 #intro{
   background-color: white;
   height:70vh;
   width: 80%;
   padding: 30px;
 }

 #intro h1{
   font-size: 25px;
   line-height: 10px;
 }

 #intro h2{
   font-size: 20px;
   line-height: 20px;
 }

 #intro p{
   line-height: 18px;
   font-size: 15px;
 }
}



/*Each Image Box in the Gallery*/
.gallery-image {
  display: block;
  /* width: 100%; */
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.5);
}

.gallery-container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
