body{
  overflow-x:hidden;
  margin: 0 auto;
}

body::-webkit-scrollbar {
   display: none;
 }


#about-me{
  box-sizing: border-box;
  border: solid 3px blue;
  margin-top:50px;
  background-color: white;
  height: 95vh;
  width: 100%;
}

.web-project{
  /* box-sizing: border-box;
  border: solid 2px blue; */
  display: flex;
  position: relative;
  height: 60vh;
  margin-left: 10%;
  margin-right: 10%;
}

.right{
  /* box-sizing: border-box;
  border: solid 2px orange; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right:0;
  height: 100%;
  width: 60%;
}

.right img{
  max-width: 90%;
  height:auto;
  width:auto;
  display: block;
}

.left{
  /* box-sizing: border-box;
  border: solid 2px red; */
  position: absolute;
  left:0;
  padding: 20px;
  height: 100%;
  width: 40%;
}

.left h2{
  margin-top:100px;
  font-size: 1.75em;
  font-weight: 900;
}
/*Height distance between the learn more box*/
.left p:last-of-type{
  padding-bottom:30px;
}

.left .button{
  color: #addbe8;
  font-family: roboto;
  background-color: white;
  border: solid 5px #addbe8;
  border-radius: 10px;
  text-decoration: none;
  padding: 15px;
  font-size: 15px;
  transition: .2s;
}

.button a{
  text-decoration: none;
}

 a:visited{
  text-decoration: none;
  color: #addbe8
}

.button:hover{
  background-color:#addbe8;
  color:white;
}

/*Separates the web dev projects from each other */
.section-divider{
  width: 40%;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color:#addbe8;
}

/*2 Bars*/
.second-section-divider{
  width: 30%;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color:#addbe8;
}

.divider-flex{
  width: 100%;
  padding-top: 20px;
  display: flex;
}

/*So the Web Design Divider doesnt have it */
.divider-flex:last-of-type{
  background-color: #F6F6F6;
}

.divider-flex h1{
  padding-left: 20px;
  padding-right: 20px;
}

#gallery-container{
  width: 100%;
  height: auto;
  background-color: #F6F6F6;
  /* box-sizing: border-box;
  border:solid 10px black;
  background-color:red; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


#gallery-container > .image{
  position: relative;
  max-height: 60vh;
  width: auto;
  margin: 10px;
  display: block;
}

.image{
  position: relative;
  box-sizing: border-box;
  border: 10px solid #282b2d;
  /* max-height: 100vh; */
  height: auto;
  max-width: 42vh;
  margin: 15px;
  transition: transform .2s;
}

.image:hover {
  box-shadow: -4px 20px 25px -4px rgba(0,0,0,1);
  transform: scale(1.04);
}

/*Each Page*/

.left-outline img{
  transition: transform .2s;
}

.left-outline img:hover{
  box-shadow: -4px 20px 25px -4px rgba(0,0,0,1);
  transform: scale(1.1);
}

.left-outline embed{
  height: 600px;
  width: 700px;
}

#processbook-image{
  display: none;
}

#side-buttons #next{
  width: 275px;
}

#side-buttons #previous{
  width: 275px;
}

.blue{
  color:#addbe8;
}

.left-blue{
  background-color:#addbe8;
}

#right-contents{
  padding: 10px 60px 60px 60px;
}

.blue-contents a, .blue-contents h2{
  color:#addbe8;
}

@media (max-width: 600px){
  #processbook-image{
    display: block;
  }
  .left-outline embed{
    display: none;
  }
}

footer {
  background-color: #282b2d;
  text-align: center;
  /* padding: 5px; */
  color: white;
  width: 100%;
  position: absolute;
}

footer p{
  line-height: 10px;
}
footer a{
  color:white;
}
